body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.navbar{
  padding: 20px ;
  background-color: black;
}
.navbar a{
  margin: 20px;
  text-decoration: none ;
  color: white;
}
.navbar a.active{
  color: greenyellow;
}
.navbar a:hover{
  color: greenyellow;
}
#option{
  height: 40px;
  width: 100px;
  
 
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 1px solid black;
  background-color: rgb(16, 16, 93);
  color: white;
}
.top-edit{
  display: flex;
  justify-content: space-between;
}
.top-edit p{
  font-weight: bold;
  margin-right:20px ;
}
.top-edit button{
  width: 100px;
  height: 40px;
  padding-bottom: 10px;
  border-radius: 10px;
  background-color: greenyellow;
  font-weight: bold;
  outline: none;
  border: none;
  border: 1px solid black;
  margin-bottom: 10px;
  
}
.run-btn{
  display: flex;
  align-self: end;
}
.run-btn img{
  padding-left: 10px;
  padding-top: 10px;
}